@model EPatient.CollectionViewModels.CollectionOfAll
@using Microsoft.AspNet.Identity

@{ ViewBag.Title = "Index"; }

<body>

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
    </div><!--/.row-->
    <p class="text-success">@ViewBag.Messege</p>
    <div class="panel panel-container">
        <div class="row">
            <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                <div class="panel panel-teal panel-widget border-right">
                    <div class="row no-padding">
                        <em class="fa fa-xl fa-building color-blue"></em>
                        <div class="large count">@Model.Departments.Count()</div>
                        <div class="text-muted">Departments</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                <div class="panel panel-blue panel-widget border-right">
                    <div class="row no-padding">
                        <em class="fa fa-xl fa-user-md color-orange"></em>
                        <div class="large count">@Model.Doctors.Count()</div>
                        <div class="text-muted">Doctors</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                <div class="panel panel-orange panel-widget border-right">
                    <div class="row no-padding">
                        <em class="fa fa-xl fa-user color-teal"></em>
                        <div class="large">@Model.Patients.Count()</div>
                        <div class="text-muted">Patients</div>
                    </div>
                </div>
            </div>

        </div><!--/.row-->
        <div class="row">
            <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                <div class="panel panel-teal panel-widget border-right">
                    <div class="row no-padding">
                        <em class="fa fa-xl fa-pencil-square color-red"></em>
                        <div class="large count">@Model.ActiveAppointments.Count()</div>
                        <div class="text-muted">Active Appointments</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                <div class="panel panel-blue panel-widget border-right">
                    <div class="row no-padding">
                        <em class="fa fa-xl fa-pencil-square color-teal"></em>
                        <div class="large count">@Model.PendingAppointments.Count()</div>
                        <div class="text-muted">Pending Appointments</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                <div class="panel panel-blue panel-widget border-right">
                    <div class="row no-padding">
                        <em class="fa fa-xl fa-pencil-square color-teal"></em>
                        <div class="large count">@Model.Services.Count()</div>
                        <div class="text-muted">Services</div>
                    </div>
                </div>
            </div>

        </div>
        
        <div class="divider"></div>
        <ul class="nav menu">
            @*<li class="active"><a href="@Url.Action("Index", "Patient")"><em class="fa fa-dashboard">&nbsp;</em> DashBoard</a></li>*@

            <li>
                <h2>Doctors</h2>
                <div style="width: 30% !important" class="children content">
                    @Html.ActionLink("Available Doctors", "AvailableDoctors", "Patient", null, new { @class = "list-group-item", @style = "margin: 0px -20px; font-size: 13px" })
                </div>
            </li>
            <li>
                <h2>Appointments</h2>
                <div style="width: 30% !important" class="children content">
                    @Html.ActionLink("Request Appointment", "AddAppointment", "Patient", null, new { @class = "list-group-item", @style = "margin: 0px -20px; font-size: 13px" })
                    @Html.ActionLink("Your Appointments", "ListOfAppointments", "Patient", null, new { @class = "list-group-item", @style = "margin: 0px -20px; font-size: 13px" })
                </div>
            </li>
            <li>
                <h2>Prescriptions</h2>
                <div style="width: 30% !important" class="children content">
                    @Html.ActionLink("Your Prescriptions", "ListOfPrescription", "Patient", null, new { @class = "list-group-item", @style = "margin: 0px -20px; font-size: 13px" })
                </div>
            </li>
            <li>
                <h2>Images</h2>
                <div style="width: 30% !important" class="children content">
                    @Html.ActionLink("View Your Images", "ListOfImages", "Patient", null, new { @class = "list-group-item", @style = "margin: 0px -20px; font-size: 13px" })
                </div>
            </li>
            <li>
                <h2>Services</h2>
                <div style="width: 30% !important" class="children content">
                    @Html.ActionLink("View Services", "ListOfServices", "Patient", null, new { @class = "list-group-item", @style = "margin: 0px -20px; font-size: 13px" })
                </div>
            </li>
            <li>
                <h2>Manage Profile</h2>
                <div style="width: 30% !important" class="children content">
                    @Html.ActionLink("View Details", "PatientDetail", "Patient", new { id = User.Identity.GetUserId() }, new { @class = "list-group-item", @style = "margin: 0px -20px; font-size: 13px" })
                    @Html.ActionLink("Update Profile", "UpdateProfile", "Patient", new { id = User.Identity.GetUserId() }, new { @class = "list-group-item", @style = "margin: 0px -20px; font-size: 13px" })
                </div>
                <div style="width: 30% !important" class="children content">
                    @Html.ActionLink("Change Password", "ChangePassword", "Manage", null, new { @class = "list-group-item", @style = "margin: 0px -20px; font-size: 13px" })
                </div>
            </li>


        </ul>
    </div><!--/.sidebar-->
    
</body>