@model IEnumerable<EPatient.Models.Schedule>

@{
    ViewBag.Title = "ListOfSchedules";
}

<h2>ListOfSchedules</h2>

<br />

<p>
    @Html.ActionLink("Create New", "AddSchedule")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Doctor.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvailableStartDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvailableEndDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvailableStartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvailableEndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimePerPatient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Doctor.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AvailableStartDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AvailableEndDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AvailableStartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AvailableEndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimePerPatient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditSchedule", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeleteSchedule", new { id=item.Id })
        </td>
    </tr>
}

</table>
